extends layout

block css
    link(href='/css/index.css',rel='stylesheet')
    link(href='/css/bury.css',rel='stylesheet')

block js
    
    script(type='text/javascript',src='/js/index.js')

    - var tee = JSON.parse(fbFriends2); 
    

    script
        var contents = '';
        var cId = #{capsule_id};
        var totalFileSize = '';
        var txtCnt=0;
        $(function(){
            var CapsuleTitle ='';
            CapsuleTitle += '<div class="accordion-group">';
            CapsuleTitle += '   <div class="accordion-heading">';
            CapsuleTitle += '       캡슐이름 : <input type="text" name="CapsuleTitle" id="capsuleMainTitle"/>';
            CapsuleTitle += '   </div>';
            CapsuleTitle += '</div>';

            contents = MakeContents(txtCnt);
            $('#textForm').append(CapsuleTitle);
            $('#textForm').append(contents);

        $('#upFiles').on("change", function(){
            
            $('#fileNameSpace').empty();
            var upFiles = document.getElementById('upFiles');
            var nameBlock = '';
            var imageName = '';

            nameBlock += '<ul>';
            for(var i=0; i<upFiles.files.length; ++i){
                totalFileSize += upFiles.files.item(i).size;
                imageName=upFiles.files.item(i).name;
                ext = imageName.substring(imageName.lastIndexOf(".")+1,imageName.length);
                
                if(!(ext.toLowerCase() == 'mp3'|| ext.toLowerCase() == 'mp4' || ext.toLowerCase() == 'jpg' || ext.toLowerCase() == 'png' )){
                    alert("첨부 가능한 파일 형식이 아닙니다. \n 첨부가능한 파일 형식은 mp3, mp4, png, jpg로 제한되어 있습니다. ");
                    $('.file-input-name').remove();
                    return false;
                }
                nameBlock +='<li><a href="#" class="btn btn-large disabled">';
                nameBlock +=imageName;
                nameBlock +='</a></li>';
            }
            nameBlock += '</ul>';

            if(totalFileSize/(1024*1024) > #{results[0].size} ){
                alert("업로드하신 용량은 " + totalFileSize/(1024*1024)+"MB입니다.\n허용 용량은 "+ #{results[0].size}+"MB를 넘을 수 없습니다.");
                $('.file-input-name').remove();
                return false;

            }
            totalFileSize = 0;
            $('#fileNameSpace').append(nameBlock);
        })
        }); // onload

        function MakeContents(cnt){
            var temp='';
            temp += '<div class="accordion-group">';
            temp += '   <div class="accordion-heading">';
            temp += '       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse' + txtCnt + '">' + txtCnt+ '번글 </a>';
            temp += '       제목 : <input type="text" name="title" id="textTitle"/>';
            temp += '   </div>';
            temp += '   <div id="collapse' + txtCnt + '" class="accordion-body collapse in">';
            temp += '       <div class="accordion-inner">';
            temp += '           <textarea class="textBox" name="contents" id="textContents" rows="4" cols="50"></textarea>';
            temp += '       </div>';
            temp += '   </div>';
            temp += '</div>';

            return temp;
        }

        var jsonT = eval(!{fbFriends2});
        //alert('#{tee.data[0].name}'+'<<1');
        //alert(jsonT.data[0].name+'<<2');

        //searchFriend 변수
        var resultSet = new Array();
        
        //addFriend 변수
        var setFriends = new Array();

        function fileCheck(){
            var upFiles = document.getElementById('upFiles');
            var capsuleMainTitle = document.getElementById('capsuleMainTitle');
            var textContents = document.getElementById('textContents');
            var textTitle = document.getElementById('textTitle');
            var userContact = document.getElementById('userContact');
            
            var friendid = '';
            var friendName = '';
            var cIdInput = ''; // capsule_id를 폼으로 보내기 위함 
            var userContactDiv = '';//사용자 번호

            for(var k = 0; k<setFriends.length; k++){
                friendid = $("<input>").attr({"type":"hidden","name":"friendsId"}).val(setFriends[k].id);
                friendName = $("<input>").attr({"type":"hidden","name":"friendsName"}).val(setFriends[k].name);
                $('#friends').append(friendid);
                $('#friends').append(friendName);
            }
            cIdInput = $("<input>").attr({"type":"hidden", "name":"cId"}).val(cId);
            $('#friends').append(cIdInput);

            
            userContactDiv = $("<input>").attr({"type":"hidden","name":"userContact"}).val(userContact.value);

            $('#contacts').append(userContactDiv);
            
            
            if(capsuleMainTitle.value == ''){
                alert("캡슐 제목을 입력해 주세요 .");
                return false;
            }

            if(textTitle.value == ''){
                alert("글 제목을 입력해 주세요 .");
                return false;
            }

            if(textContents.value == ''){
                alert("글 내용을 입력해주세요.");
                return false;
            }

            if(userContact.value == ''){
                alert("연락처를 입력해주세요.");
                return false;
            }

            if(upFiles.files.length == 0){
                alert("파일을 첨부해주세요.");
                return false;
            }
            $('#inputForm').submit();
        }

        function searchFriend(){
            $('div[id="result"]').empty();
            var searchValue = $('input[name="searchValue"]').val();
            var filter = new RegExp(searchValue, i);
            
            for(var i = 0 ; i <jsonT.data.length; i++){                
                if(filter.test(jsonT.data[i].name.toLowerCase())){
                    resultSet.push(jsonT.data[i]);
                    
                    $('div[id="result"]').append('<li> <img src="https://graph.facebook.com/'+jsonT.data[i].id+'/picture?type=square"/><a href = "#" onclick="addFriends('+jsonT.data[i].id+',\''+jsonT.data[i].name+'\')">'+ jsonT.data[i].name+'</a></li>');
                }
            }
        }
        
        
        function addContents(){
            txtCnt++;
            contents = MakeContents(txtCnt);
            $('#textForm').append(contents);
        };

        function addFriends(friendId,friendName){
            var structure ='';

            structure += '<div class="alert alert-info">';
            structure += '  <ul>';
            
            $('div[id="selectFriends"]').empty();
            setFriends.push(
                {id:friendId, name:friendName}
            );
            for(var i=0; i<setFriends.length; i++){
                structure += '<li> <img src="https://graph.facebook.com/'+setFriends[i].id+'/picture?type=square"/><a href = "#" onclick="addFriends('+jsonT.data[i].id+',\''+jsonT.data[i].name+'\')">'+ setFriends[i].name+'</a></li>';              
            }

            structure += '  </ul>';
            structure += '</div>';

            $('div[id="selectFriends"]').append(structure);
        }              

        
block row2col1
    ul
        li
            img(src='/img/#{results[0].img}',alt='capsule9')
            div.bury
                button.btn.btn-large.btn-primary.disabled(type='button', disabled='disabled') #{results[0].size}MB / #{results[0].duration}일
        li
            #selectFriends

        li
            a.btn(href='#friendModal',role='button', data-toggle='modal')친구추가
            div#accordion2.accordion
            div.accordion-group
                div.accordion-heading
                    a.accordion-toggle( data-toggle='collapse',data-parent='#accordion2', href='#collapse99') 연락처
                div#collapse99.accordion-body.collapse.in
                    div.accordion-inner
                        ul
                            li
                                input.span2#userContact(type='text', id='userContact')
                            li
                                button.btn.btn-danger.disabled
                                    알람문자 받을 연락처
            #friendModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='friendModalLabel', aria-hidden='true')
                .modal-header
                        button.close(type='button',data-dismiss='modal', aria-hidden='true') x
                        h3#friendModalLabel Modal header
                        .modal-body
                            ul
                                li
                                    검색 :
                                    input(type='text', name='searchValue', placeholder='이름을 입력하세요.', onkeyup='searchFriend()')
                                #result         



                        .modal-footer
                            button.btn(data-dismiss='modal', aria-hidden='true') Close
                            button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') Save changes    
    
block row2col3
    ul
        li
            form(action='/upload', method='post', id='inputForm', enctype='multipart/form-data')
                    
                    ul
                        li
                            div#accordion2.accordion
                                #textForm
                        li
                            button.btn(type='button', onclick='addContents()') 글 추가 
                        li
                            input(type='file', name='imgs', id='upFiles', title="파일을 선택하세요.", multiple="")
                        li
                            input.btn.btn-primary(type='button', onclick='fileCheck()', value='묻기');
                            
                        li 
                            #friends
                            #contacts
                    #fileNameSpace
                                 

block row2col1row1col1
    .item-list.logos
        a(href='https://www.facebook.com/travler.time.3')
            img(src='/img/facebook-logo.png',alt='facebook')
        a(href='https://twitter.com/TimeTravler1')
            img(src='/img/twitter-logo.png',alt='twitter')
        a(href='#')
            img(src='/img/google-logo.png',alt='google')

block row2col2
    .bought
        ul.unstyled.text-center
        div.pagination.pagination-mini.pagination-centered
            ul